@import '../../../sass/app';
//@import'_bootstrap.min.css';
//@import'grid';
@import'plugin';
//@import'image-uploader';
@import'_style';


//.nav-tabs .nav-link.disabled{
//  color: #6c757d;
//  background-color: transparent;
//  border-color: transparent;
//}